body {
    font-family: 'Segoe UI Variable Text';
    color: #000070;
}

.title {
    width:stretch;
    top: 0;
    width: 100%;
    margin-left: 0px;
    left: 0px;
    display:block;
    background-color: white;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.titleTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 100%;
    height: auto;
}

.buttonDesktop{
    display:none;
}

.button {
    width: stretch;
    border: none;
    color: white;
    background-color: #000070;
    padding: 16px 32px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    border-radius: 7px;
}

button:hover {
    background-color: #FF0070;
    border-color: #FF0070;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
}

.navbar {
    display:none;
}

.contactBar {
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
    padding: 20px;
}

.burgerContainer {
    display:inline-block;
    align-items:initial;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 40px;
    height: 8px;
    background-color: #333;
    margin: 10px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-15px, 15px);
    transform: rotate(-45deg) translate(-13px, 13px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-15px, -15px);
    transform: rotate(45deg) translate(-13px, -13px);
}

.menu {
    width: 150px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    padding-left: 20px;
    font-size: 20px;
}

nav a {
    color: #000070;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    display:block;
    width: 80px;
}

nav a:hover {
    background-color: #ccc;
    color: #000070;
}

.fullImage {
    margin-top: 50px;
    width: 100%;
    height: auto;
    border-radius: 7px;
    margin-left: 1px;
}

.header1 {
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
}

.bodyText {
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
}

.introBox {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 0;
}

.restrictedTextBox {
    background-color: white;
    margin-top: 2px;   
    width: 100%;
    height: auto;
    font-size: 18px;
    text-align:justify;
    margin-left: 0;
}

.imageBox {
    display: none;
    width: 100%;
    height: auto;
    margin-left: 0;
}

.textBox {
    width: auto;
    height: auto;
    font-size: 18px;
    text-align: left;
}

.expertiseBlock {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expertise {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0px;
}

ul {
    list-style-type: none;
    text-align: left;
}

.capabilitiesTextBox {
    background: linear-gradient(to bottom, #0000ff 0%, #000070 100%);
    color: white;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 0;
    margin-right:0px;
    width: 100%;
    height: auto;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

p {
    margin-top: 10px;
    display: flex;
}

p1 {
    margin-top: 70px;
    display: flex;
}
.button {
    width: stretch;
    border: none;
    color: white;
    background-color: #000070;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
}
button:hover {
    background-color: #FF0070;
}

.footer {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-left: 0;
    align-items: initial;
    background-color: gainsboro;
    border-radius: 7px;
}
.footerTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
}

.footerTitle2 {
    margin-left: 150px;
}

.footerImage {
    height: 40px;
    width: auto;
}

.footerText {
    display: flex;
    justify-content: start;
    align-items: left;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 18px;
    text-align: left;
}
.footerText2 {
    margin-left: 20px;
}

/* form button config */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 7px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #ff0070;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

    /* When moving the mouse over the submit button, add a lighter blue color */
    input[type=submit]:hover {
        background-color: #0000ff;
    }

/* Add a background color and some padding around the form */
.contact {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    margin-top: 100px;
    border-radius: 7px;
    background-color: #000070;
    padding: 20px;
    font-size: 38px;
}

.container1 {
    width: 100%;
    margin-top: 100px;
    border-radius: 7px;
    padding: 20px;
    font-size: 38px;
    text-align: center;
}
